<form id="form-update" class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
    {% csrf_token %}
    <div>
        <div>
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="50"
                required
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
                <br>
                <input type="submit" value="Update" class="btn btn-outline-info">
                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
        </div>
    </div>
</form>



