@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html {  
    height:100%; /* this will allow our h100 classes in vertical centering to  work. */ 
    --top-spacing: 160px;
    scroll-padding-top: var(--top-spacing);
    margin: var(--top-spacing) auto;
    padding: 0 20px;
}  


body {  
    background-color:#2D4059;    
    height: calc(100vh - 164px);  
    color: #555;  
    font-family: Cinzel, Arial, Helvetica, sans-serif;  
} 

.aboutus-address{
    margin-top:1.5%;
}

#footer-styling {
    background-color: #FFB400;
    margin-top: 5%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;

}

.card-styling{
    box-shadow:
    0 2.8px 2.2px rgba(0,0,0,0.034),
    0 6.7px 5.3px rgba(0,0,0,0.048),
    0 12.5px 10px rgba(0,0,0,0.06),
    0 22.3px 17.9px rgba(0,0,0,0.072),
    0 41.8px 33.4px rgba(0,0,0,0.086),
    0 100px 80px rgba(0,0,0,0.22);
}

.social-icons {
    margin: auto;
}

/* NAVBAR */
.nav-bg {
    background-color: #FFB400; 
}

#about-us-link{
    text-decoration: none;
    color:black;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color:white;
}

#delivery-banner {
    background-color: #000;
}

.main-logo-link {
    width: fit-content;
}

/*
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}
*/

.btn-black {
    background: black;
    color: white;
}


/* Edit or replace this */ 
.btn-outline-black{
    background: white;
    color: black !important; /* use important to override link colors for <a> elements. */
    border: 1 px solid black;
}


/*
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
*/

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;

}

/* Move and tidy up! */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


.btt-link,
.update-link,
.remove-item{
 
   cursor: pointer;
}


.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}








/* -------------------------------- Media Queries */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    /* Fix to prevent links to home and about us appearing on desktop navbar */
    .mobile-header-links {
        display: none;
        visibility: hidden;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }


    .checkout-image{
        max-width: 32%;
    height: auto;
    }

.button-test {
    margin-left: 5px;
    font-size: 10%;
}

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    } /* padding: ;   */ 

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: 1rem 1rem !important;
    }

.table-resize {
    font-size: 11px;
}

    .aboutus-address{
        margin-top:11.5%;
    }

    #footer-styling {
    background-color: #FFB400;
    margin-top: 25%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.update-link,
.remove-item {
   cursor: pointer;
   margin: -1%;
   font-size: 25px;
   }
}

/* hack for not displaying size in checkout */
.dontDisplay {
    display: none;
    visibility: hidden;
}