<footer>
    <div id="footer-styling">
        <div class="container-fluid">
            <div class="container">
                <div class="row footer-row">
                                 
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding social-icons text-center order-md-4 order-lg-4">
                            <a target="_blank" class="grey-text text-dark text-lighten-3 fa-4x" 
                                    href="https://www.linkedin.com/in/adrian-looney/">
                                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a target="_blank" class="grey-text text-dark text-lighten-3 fa-4x" 
                                    href="https://github.com/Jammerref2015">
                                    <i class="fab fa-github-square" aria-hidden="true"></i>    
                            </a>  
                            <a target="_blank" class="grey-text text-dark text-lighten-3 fa-4x" 
                                    href="#">
                                    <i class="fab fa-instagram-square" aria-hidden="true"></i>    
                            </a>          
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</footer>